aiohttp==3.7.3
altgraph==0.17
async-timeout==3.0.1
attrs==20.3.0
blosc==1.10.2
cachetools==4.1.1
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cliff==3.7.0
cmd2==1.5.0
colorama==0.4.4
comtypes==1.1.7
crontab==0.22.9
cssselect==1.1.0
cssutils==1.0.2
cycler==0.10.0
cytoolz==0.11.2
decorator==4.4.2
df2gspread==1.0.4
ens==0.6.1
et-xmlfile==1.1.0
eth-abi==0.5.0
eth-keys==0.1.0b4
eth-tester==0.1.0b11
eth-utils==0.8.1
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
fsspec==0.8.5
future==0.18.2
gcsfs==0.6.2
geckodriver-autoinstaller==0.1.0
google-api-core==1.23.0
google-api-python-client==1.6.7
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-cloud==0.34.0
google-cloud-core==1.5.0
google-cloud-storage==1.30.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
gspread==3.6.0
gspread-dataframe==3.2.0
httplib2==0.18.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.17.0
keyboard==0.13.5
keyring==22.0.1
kiwisolver==1.3.1
lru-dict==1.1.7
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.4
MouseInfo==0.1.3
multidict==5.1.0
multitasking==0.0.10
mysql-connector-python==8.0.23
nltk==3.5
numpy==1.19.2
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.4.0.44
openpyxl==3.0.9
pandas==1.1.0
pbr==5.5.1
pefile==2019.4.18
Pillow==7.2.0
pokereval==0.2.0
premailer==3.7.0
prettytable==2.1.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.50
pycparser==2.20
PyDrive==1.3.1
PyGetWindow==0.0.8
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyMsgBox==1.0.8
PyMySQL==1.0.2
pyparsing==2.4.7
pyperclip==1.8.0
pypoker==0.0.2a0
pyreadline3==3.3
PyRect==0.1.4
PyScreeze==0.1.26
pysha3==1.0.2
pytesseract==0.3.6
python-crontab==2.5.1
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2020.4
pywin32==228
pywin32-ctypes==0.2.0
pywinauto==0.6.8
PyYAML==5.4.1
regex==2020.9.27
requests==2.25.0
requests-oauthlib==1.3.0
rlp==2.0.1
rsa==4.6
scikit-learn==1.0.1
scipy==1.6.0
selenium==3.141.0
semantic-version==2.8.5
simplejson==3.17.6
six==1.15.0
sklearn==0.0
SQLAlchemy==1.3.22
stevedore==3.3.0
tablib==3.0.0
tabulate==0.8.7
threadpoolctl==3.0.0
toolz==0.11.2
tqdm==4.50.1
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.2
wcwidth==0.2.5
web3==3.16.5
Werkzeug==1.0.1
WTForms==2.3.3
xlrd==2.0.1
XlsxWriter==1.3.7
xlwt==1.3.0
yagmail==0.14.245
yahoo-finance==1.4.0
yarl==1.6.3
yfinance==0.1.67
